@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timing {
  height: 90%;
  background: url('../../assets/bg_timing.jpg') center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .clock {
    border: solid 1px rgb(161, 159, 159);
    width: 24rem;
    height: 24rem;
    border-radius: 12rem;
    margin-bottom: 3rem;
    @include center();
    .secondCircle {
      border: solid 1px rgb(189, 186, 186);
      width: 18rem;
      height: 18rem;
      border-radius: 9rem;
      @include center();
      .innerCircle {
        border: solid 1px rgb(184, 181, 181);
        text-align: center;
        width: 14rem;
        height: 14rem;
        border-radius: 7rem;
        @include center();
        .text {
          font-size: 2rem;
          color: rgb(251, 251, 252);
        }
        .time {
          font-size: 3rem;
          color: rgb(251, 252, 253);
        }
      }
    }
  }
  .isTiming, .finishTiming {
    width: 50%;
    text-align: center;
  }
  .stopTiming, .continueTiming, .quit, .finishTiming {
    color: aliceblue;
    font-size: 2.5rem;
  }
  .stopTiming, .continueTiming {
    padding: 1rem 0;
    width: 100%;
    border: solid 1px aliceblue;
    border-radius: 3rem;
    margin-bottom: 3rem;
  }
  .continueTiming {
    background-color: aliceblue;
    color: rgb(82, 99, 194);
  }
  .finishTiming {
    padding: 1rem 0;
    border: solid 1px aliceblue;
    border-radius: 3rem;
  }
}